.LOGINSTAT {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 3.6;
    color: rgb(204,204,204);
}
.MYPAGE {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 3.6;
    color: rgb(204,204,204);
}
.SUMIKAKKO {
    width: 200px;
    padding: 0 15px;
    background-color: #555;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .SUMIKAKKO > div {
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 15px;
    }
